nav > a {
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.nav-menu li {
  display: block;
  justify-content: space-between;
  gap: 60px;
  text-align: right;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

.nav-link:hover {
  color: red;
}

.nav-items {
  float: right;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger {
  display: block;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: white;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  text-align: center;
  transition: 0.1s;
}

.nav-items {
  margin: 16px 0;
}

.nav-menu.active {
  left: 0;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media (max-width: 650px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    /* background-color: black;
        opacity: 0.5;
        filter: alpha(opacity=70); */
    width: 100%;
    text-align: center;
    transition: 0.1s;
  }

  .nav-items {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-link {
    transition: 0.7s ease;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
  }

  .nav-link:hover {
    color: red;
  }
}
